div {
  margin: 0;
  border: 0;
  padding: 0;
}

#tools {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer, Edge */
            user-select: none; /* Future */

  margin-bottom: 5px;
}

div.left {
  display: inline-block;
  text-align: left;
}
div.left > div:not(:last-child) {
  margin-bottom: 3px;
}
div.left > div > :not(:last-child) {
  margin-right: 5px;
}

div.right {
  float: right;
  text-align: right;
}
div.right > div:not(:last-child) {
  margin-bottom: 3px;
}

#main {
  display: inline-block;
  float: left;
}
#canv {
  border: 1px solid black;
  display: inline-block;
}
#info {
  display: inline-block;
  min-width: 500px;
  margin: 20px;
}

svg .ghost {
  stroke-width: 10;
  opacity: 0;
}
