div {
  margin: 0;
  border: 0;
  padding: 0;
}

#tools {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer, Edge */
            user-select: none; /* Future */

  margin-bottom: 5px;
}

#tools button:not(:last-child) {
  margin-right: 5px;
}

.right {
  float: right;
}

#canv {
  border: 1px solid black;
  display: inline-block;
}
